---
import ThemeToggle from './ThemeToggle.astro';
---


<header>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
  </nav>
  <ThemeToggle />
</header>
<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
